.menu{
    list-style-type: none;
   padding: 0px;
    margin:0px;
    display: block;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
}

li a {
    display: inline-block;
    float: left;
    padding: 14px 16px;
    margin-bottom: 20px;
    color: black;
}

li a:hover {
    background-color: slategrey;
    color: whitesmoke;
}

h1 {
     font-family: 'Stardos Stencil', cursive;
    text-align: center;
    font-size: 95px;
    color: black;
}

h2 {
   font-family: 'Stardos Stencil', cursive;
    text-align: center;
    color: floralwhite;
    font-size: 50px;
}

.Home {
    background-image: url(HonnoldYosemite.jpeg);
    background-position: top;
}

.nothome{
    background-image: url(IMG_1935.jpg)
    
}

#History{
    font-family: fantasy;
    font-size: 40px;

}

.History {
    font-family:'Indie Flower', cursive;
    font-size: 25px;
    background-color: antiquewhite;

    
}

#climb{
    font-size: 40px;
    font-family: sans-serif;
}

.climbers {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    background-color: gainsboro;
}

/**** NEW STUFF ****/
/* We haven't talked about flex in class...but it's awesome for galleries... */
.climber-gallery{ /* This contains all of the climber divs */
    display: flex;
}

.divimg {
    flex: 1; /* Each item is the same relative size */
    
    margin: 30px;
    border: 4px solid black;
    float: left;
}
.divimg img{ /* This looks funky...but it would work if all images were the same aspect ratio. You could also use background-image with background-size:cover */
    width: 100%;
    height: auto;
}
/**** END ****/

.divimg:hover {
    border: 4px solid black;
}

.desc {
    padding: 10px;
    text-align: center;
    font-family:'Indie Flower', cursive;
    font-size: 20px;
    
}

.funfacts{
    background-color: lightblue;
}

#facts{
    font-size: 50px;
    font-family: monospace;
}

.caution{
    background-color: darkred;
    color: white;
    font-size: 20px;
        
}
    

.factone{
    background-color: cadetblue;
    font-size: 30px;
}

.facttwo{
    background-color: dodgerblue;
    font-size: 30px;
}

.factthree{
    background-color: aliceblue;
    font-size: 30px;
}

.factfour{
    background-color:skyblue;
    font-size: 30px;
}

.factfive{
    background-color: slateblue;
    font-size: 30px;
}

.feet{
    background-image: url(IMG_1860.jpg);
    background-blend-mode: darken;
    position: absolute;
    
}

    






